<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-read-write-usb-storage"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>readWriteUSBStorage</name>
    <js-module name="readWriteUSBStorage" src="www/readWriteUSBStorage.js">
        <clobbers target="cordova.plugins.readWriteUSBStorage" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="readWriteUSBStorage">
                <param name="android-package"
                    value="cordova.plugin.read-write-usb-storage.readWriteUSBStorage" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/readWriteUSBStorage.java"
            target-dir="src/cordova/plugin/read-write-usb-storage/readWriteUSBStorage" />
    </platform>
</plugin>